/* Fontes e corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Título */
h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
}

/* Formulário */
#cep {
    font-size: 1.2rem;
}

/* Botões */
.btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Resultado */
#resultado {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

/* Estilo da lista de resultados */
.list-group-item {
    font-size: 1.1rem;
    border: none;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 10px;
}

.list-group-item:last-child {
    margin-bottom: 0;
}

/* Erro */
#erro {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
}

        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 60%;
            background: #fafafa;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        table th, table td {
            padding: 15px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        table th {
            background: #007BFF;
            color: #fff;
            font-size: 18px;
        }
        table tbody tr:nth-child(even) {
            background: #f9f9f9;
        }

/* Melhorias para dispositivos móveis */
@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }
    
    .btn {
        font-size: 1rem;
        padding: 8px 16px;
    }
    
    .list-group-item {
        font-size: 1rem;
    }
}
